body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #000;
    height: 748px;
    width: 648px;
    display: grid;
    grid-template-rows: 49px 57px 118px 118px 49px 118px 118px 49px;
    grid-template-columns: 49px 258px 118px 60px 62px 49px;
    gap: 9px;

}

.yellow1{
    background-color: #F9D01E;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.red1{
    background-color: #E72F24;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    border-top: 9px solid #000;
}

.white1{
    background-color: #F0F1EC;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    border-top: 9px solid #000;
}

.white2{
    background-color: #F0F1EC;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 7;
   
}

.white3{
    background-color: #F0F1EC;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
}

.blue1{
    background-color: #1aa3ff;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
}

.yellow2{
    background-color: #F9D01E;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 7;
}

.white4{
    background-color: #F0F1EC;
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 6;
}

.white5{
    background-color: #F0F1EC;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
}

.red2{
    background-color: #E72F24;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 4; 
}

.red3{
    background-color: #E72F24;
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 6;
}

.white6{
    background-color: #F0F1EC;
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 3;
}

.blue2{
    background-color: #1aa3ff;
    grid-row-start: 7;
    grid-column-start: 3;
    grid-row-end: 8;
    grid-column-end: 5;
}

.white7{
    background-color: #F0F1EC;
    grid-row-start: 7;
    grid-column-start: 5;
    grid-row-end: 8;
    grid-column-end: 6;
}

.white8{
    background-color: #F0F1EC;
    grid-row-start: 7;
    grid-column-start: 6;
    grid-row-end: 8;
    grid-column-end: 7;
}

.white9{
    background-color: #F0F1EC;
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 10;
    border-bottom: 9px solid #F0F1EC;
    grid-column-end: 2;
}

.yellow3{
    background-color: #F9D01E;
    grid-row-start: 8;
    grid-column-start: 2;
    grid-row-end: 9;
    grid-column-end: 5;
}

.white10{
    background-color: #F0F1EC;
    grid-row-start: 8;
    grid-column-start: 5;
    grid-row-end: 9;
    grid-column-end: 7;
}